#containerIndex{
	margin-top: 300px;

}

#labelIndex{
    margin-left: 525px;

}

#containerRegistrar{
	margin-top: 20px;
	border: solid 2px;
	border-radius: 10px;
	
}
#nombreFormulario{
	text-align: left;
	padding-top: 10px;
	
}
#alertaCorrecta{
	text-align: center;
	font-size: 20px;
}

 /* .table td, .table th {  */
     /* padding: .62rem;  */
     /* vertical-align: top;  */
     /* border-top: 1px solid #dee2e6;  */
 /* }  */
#containerLista{ 
	 /* margin-top: 20px;     */
     /* border: solid 2px;     */
      /* border-radius: 10px;     */
      /* padding-left: 2px;     */
      /* padding-right: 2px;   */
     height: 900px;	 
	  /* width: 100px;  */
	 overflow: auto;
   
 } 
body {
	padding-right: 0px !important; 
 } 
.inputFiltro{
	display:inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
}
#tituloTabla{
	margin-top: 20px;
}
#botonBuscarFiltros{
	margin-left: 5px;
}
/* #tablaC{ */
	
/* } */

