#containerIndex{
	margin-top: 100px;
}
#labelIndex{
    margin-left: 525px;
}
#containerRegistrar{
	margin-top: 20px;
	border: solid 2px;
	border-radius: 10px;	
}
#nombreFormularioRegistrar{
	text-align: left;
	padding-top: 10px;	
}
#alertaCorrecta{
	text-align: center;
	font-size: 20px;
}
body{
	padding-right: 0px !important; 
 } 
.inputFiltro{
	display:inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
}
#tituloTabla{
	margin-top: 20px;
}
#botonBuscarFiltros{
	margin-left: 5px;
}
#nombreFormularioLista{
	margin-top: 20px;
}
.EtiquetaCampoActualizar{
	font-weight: 600;
}
/* #fieldsetArchivo{ */
	/* border: 1px; */
/* } */
  /* height: 900px;	 	   */
	 /* overflow: auto; */
	 
	 
#formularioArchivo{
	/*margin-top: 20px;*/
	display: inline-block;
}
#alertaSubirArchivos{
	margin-top: 20px;
}
#subirBuscarArchivos{
	margin-top: 20px;
}
#buscarArchivos{
	display: inline-block;
	margin-left: 250px;

}

